NEXTAUTH_SECRET=lrtH8Yr4JVwfLuVUQ9P1GJ17AROOQOoWnTy9HwO3dl8=
NEXTAUTH_URL=https://kiroducksat.vercel.app
GOOGLE_CLIENT_ID=755830677010-q1rai4dg3jh4v56rgm4bukvviuulcu0e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
# PostgreSQL (Neon) - for development
DATABASE_URL=postgres://neondb_owner:npg_n9zNdVsI5Mro@ep-round-truth-ad45jl91-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_n9zNdVsI5Mro@ep-round-truth-ad45jl91.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Azure SQL (Microsoft) - for production (currently not in use)
# DATABASE_URL=sqlserver://db-ducksat.database.windows.net:1433;database=DuckSAT_DB;user=lionvihaan;password=Microsoft757;encrypt=true;trustServerCertificate=false;loginTimeout=30
# DATABASE_URL_UNPOOLED=sqlserver://db-ducksat.database.windows.net:1433;database=DuckSAT_DB;user=lionvihaan;password=Microsoft757;encrypt=true;trustServerCertificate=false;loginTimeout=30

AZURE_SQL_SERVER=db-ducksat.database.windows.net
AZURE_SQL_DATABASE=DuckSAT_DB
AZURE_SQL_USER=lionvihaan
AZURE_SQL_PASSWORD=Microsoft757

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=90e5b2ff-5bfb-4492-92ac-226e511869f7
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_25cmha3ws63c48hp1d2je8y2k9zq1mdps3wc2r6ttnp3r
STACK_SECRET_SERVER_KEY=ssk_8m0prmtb8cwseh670wkhaj03bjam45t5vbsh208wef87g

# Azure OpenAI API Key (for question generation and DALL-E)
ENDPOINT_URL=https://ducksat.cognitiveservices.azure.com/openai/deployments/gpt-5-nano/chat/completions?api-version=2024-12-01-preview
AZURE_OPENAI_API_KEY=CKKtDWZjp3uujnxsx9mO4D2pafqAgxXnMy7vCSdaDDvEShCJhRm6JQQJ99CBACYeBjFXJ3w3AAAAACOGzRJb
DEPLOYMENT_NAME=gpt-5-nano
API_VERSION=2024-12-01-preview